.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.name{
    position: relative;
    margin-right: 3rem;
    top: 0%;
}



.all{
    display: grid;
    padding: 0rem;
    place-items: center;
    margin: 0rem;
}



.item{
    cursor: pointer;
     display: flex;
     margin-right: 3rem;
     padding-bottom: 2rem;
    max-width: 200px;
    max-height: 200px;

}
