.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.name{
    position: relative;
    margin-right: 5rem;
    padding-bottom: 0.3rem;
}
.all{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;
    place-items: center;
    gap: 0rem;
}

.item{
    cursor: pointer;
    align-items: center;
    justify-content: center;
     padding-bottom: 2rem;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    padding-top: 1rem;
}
.items{
    cursor: pointer;
    background-color: gainsboro;
    display: grid;
    justify-content: center;
   align-items: center;
max-height: 400px;
min-height: 400px;
max-width: 200px;
transition:  0.5s ease-out;
}

.items:hover{
    transform: scale(1.1);
    box-shadow: darkgray 5px 5px, beige 7px 7px, white 15px 15px;
}
.icon{
    padding-left: 0.2rem;
}
.border{
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 100%;
    background-color:  greenyellow;
    height: 25px;
    width: 25px;
    color: black;
    position: relative;
margin-left: 10rem;
cursor: pointer;
transition:  0.5s ease-out;
}

.border:hover{
    transform: scale(1.3);
}

.tag{
position: relative;
top: 0%;
padding: 0.5rem;
}

.head{
    display: flex;
    justify-content: space-around;
}

.converter{
    position: relative;
    top: 20%;
}
.converter > option{
font-family: 'Courier New', Courier, monospace;
}

.stock{
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    padding-left: 2rem;
    top: 0%;
}
.All{
margin-left: 13rem;
}
.brand{
    padding-bottom: 0.2rem;
    font-style: oblique;
}