.cont{


}


.all{
    display: grid;
    padding: 0rem;
    place-items: center;
    margin: 0rem;
    background-color: grey;
width: 40%;
}


.name{
    cursor: pointer;
margin-bottom: 0rem;
padding-bottom: 0rem;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
}

.item{
    cursor: pointer;
     display: flex;
padding-top: 1rem;
padding-bottom: 1rem;
    max-width: 200px;
border: 2px solid black;
}
.items>li{


}