.cart-product{
    margin-top: 3rem;
    width: 100%;
    height:10rem;
    padding: 0 8% 0 6%;
    display: flex;
    flex-direction: column;
}
.cart{
    margin-top: 5rem;
    display: grid;
    align-items: center;
}

.carttitle{
    display: grid;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
margin-left: 10rem;
color: var(--black);
}

.emptycart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-msg{
    margin: 10px 0 20px 0;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.cartcheckout{
    display: grid;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
margin-left: 9rem;
}

.bordercart{
    border-top: 1px solid #E5E5E5;
}

.checkout3{
   display: flex;
   align-items: center;
   justify-content: center;
padding: 16px 32px;
width: 279px;
height: 43px;
    background-color: var(--main);
    transition: 0.5s ease;
    cursor: pointer;
    border: transparent;
    }
    .checkout3:hover{
        transform: scale(1.1);
    }

.tax{
    display: flex;
    gap: 1rem;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 0px;
color: var(--black);
}

.pagequantity{
    display: flex;
    gap: 1rem;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 0px;
color: var(--black);
}
.total2{
    display: flex;
    gap: 1rem;
    color: var(--black);
}

.pageprice{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 0px;
}
.pagetotal{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 0px;
}

.order2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}



@media screen and (min-width: 320px) and (max-width: 768px){
    .cartcheckout{
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;

    }
    .cart{
        overflow-x: hidden;
    }
}