.Products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    place-items: center;
    padding-top: 5rem;
}

.categorytitle{
    display: flex;
    position: absolute;
    left: 10%;
    justify-content: center;
   padding-top: 0rem;
   margin-bottom: 4rem;
   font-size: 30px;
   font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .Products{
        grid-template-columns: repeat(1, 1fr);
        padding-top: 13rem;
    }
    .categorytitle{
        left: 50%;
        display: flex;
        justify-content: center;
       padding-top: 10rem;
       padding-bottom: 0rem;
       font-size: 30px;
       font-weight: bold;
    }

}