.titles{
    display: flex;
    gap: 5rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    margin-left: 5rem;
}

.changer{
    cursor: pointer;
position: absolute;
align-items: center;
justify-content: center;
top: 4%;
left: 75%;
gap: 0rem;
z-index: 1;
}

.logo{
    margin-left: 20rem;
}

.figure{
    position: absolute;
    line-height: 0;
    background-color: black;
    border-radius: 100%;
    padding: 0.5rem;
    color: white;
}

.cart1{
    padding-top: 1.9rem;
    padding-left: 0.3rem;
}

.container{
    display: flex;
}

.overlay{
    position: absolute;
    right: 30%;
    margin-top: 0.5rem;
    cursor: pointer;
}

.toggler{
    cursor: pointer;
    display: flex;
position: absolute;
top: 4.5%;
left: 5%;
transform: scale(1.2);
display: none;
}


.logo-icon{
    display: flex;
    padding-top: 1rem;
    position: absolute;
    left: 50%;
    cursor: pointer;
}






@media screen and (min-width: 320px) and (max-width: 768px){

    .toggler{
        display: block;
        margin-bottom: 10rem;
    }

    .titles{
        z-index: 1;
        background-color: white;
        position: fixed;
        top: 6vh;
        left: 0;
        width: 60%;
        height: 93vh;
    margin-left: 0rem;
    padding-top: 1rem;
    flex-direction: column;
    gap: 5rem;
    transform: translatex(-100%);
    transition: 0.5s ease-out;
    }
    .titles{
        padding-left: 2rem;
    }
    .active{
        transform: translatex(0%);
    }
.overlay{
    margin-top: 0rem;
}

    .changer{
    left: 80%;
    top: 3%;
}
.logo{
    margin-left: 5rem;
}
.logo-icon{
    left: 40%;
}
}





