.navbuttons{
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s ease-out;
}

.active-button{

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    color: var(--main);
}

.unactive-button{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    color: var(--black);
}

.unactive-button:hover{
    color: var(--main);
}

.border{
 position: relative;
    width: 100%;
        height: 2px;
        background-color: var(--main);
top: 3%;
}
