.navbuttons{
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s ease-out;
}

.active-button{
    width: 75px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
}

.unactive-button{
    width: 75px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
}

.active-button{
    font-weight: 600;
            color: green;
}

.unactive-button:hover{
    color: green;
}

.border{
    width: 100%;
        height: 2px;
        background-color: green;
        margin-top: 1rem;
}
