.Product {
    width: 90%;
    display: flex;
    border-top: 2px solid #e5e5e5;
    gap: 11 rem;
    margin-left: 10rem;
    justify-content: space-between;
}
.cartbrand{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: var(--black);
}

.cartname{
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 27px;
color: var(--black);
}
.cartdetails{
font-family: "Raleway";
}
.cartimage{
  width: 250px;
  max-height: 250px;
}
.sideshow{
display: flex;
margin-top: 1rem;
gap: 2rem;
margin-right: 2rem;
}

.info{
  display: grid;
  margin-left: 5rem;
}
.cartfeatname{
color: var(--black);
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 8px;
}

.item-attributes{
  display: grid;
  flex-direction: row;
}

.cartattritext{
  margin-top: 0rem;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
}

.cartimage{
  padding-bottom: 0rem;
}

.cartquantity{
  display: grid;

}

.carttextoption{
  padding: 0 15px;
  height: 45px;
  border: 1px solid  var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  user-select: none;
  background-color:#FFFFFF  ;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.5s ease;
color: var(--black);
}

.carttextselected{
  padding: 0 15px;
      height: 45px;
      border: 1px solid  var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      user-select: none;
      background-color: var(--black);
      color: #FFFFFF;
      transition: 0.3s;
      cursor: pointer;
}

.carttextvalue{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
text-transform: uppercase;
}



.cartattriswatch{
  margin-top: 0rem;
  align-items: center;
  justify-content: center;
  padding-right: 0rem;
  gap: 0.5rem;
}

.cartswatchselected{
  height: 36px;
    width: 36px;
    margin-right: 5px;
    border: 1px solid var(--main);
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.cartswatchoption{
  height: 32px;
    width: 32px;
    margin-right: 5px;
    border: transparent;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.selected-option{
  color: white;
background-color: var(--black);
}

.arrowicons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transform: scale(1.2);
  bottom: 5%;
  left: 40%;
  position: relative;
  cursor: pointer;
}

.cartchoice{
  display: flex;
}
.cartadd{
  width: 40px;
      height: 40px;
      background: transparent;
      border: 1px solid var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      user-select: none;
      cursor: pointer;
}

.cartminus{
  width: 40px;
      height: 40px;
      background: transparent;
      border: 1px solid var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      user-select: none;
      cursor: pointer;
}
.cartamount{

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;

}
.cartname{
  font-family: "Raleway";
}

.cartprice{
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
color: var(--black);
}

@media screen and (min-width: 320px) and (max-width: 768px){
.Product{
  margin-left: 2rem;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.cartimage{
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
}
.sideshow{
display: flex;
margin-top: 1rem;
gap: 1.5rem;
}

.info{
  display: grid;
  margin-left: 5rem;
}

.carttextoption{
  padding: 0 10px;
  height: 25px;
  border: 1px solid  black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  user-select: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.5s ease;
}

.carttextselected{
  padding: 0 10px;
      height: 25px;
      border: 1px solid  black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      user-select: none;
      background-color: black;
      color: white;
      transition: 0.3s;
      cursor: pointer;

}



}