.Minicart{
    position: absolute;
    width: 100vw;
    left: 0rem;
    padding-top: 4rem;

}



.background{
    height: 100%;
    width: 100%;
    background: #39374885;
    z-index: 2;
    position: fixed;
}

.overlay-background{
    position: absolute;
      right: calc(100vw - 95%);
      width: 350px;
      background-color: white;
      z-index: 2;
      display: flex;
      flex-direction: column;
      padding: 10px 25px;
    max-height: 500px;
    overflow-y: scroll;

}

.Minicart-Header{
display: flex;
gap: 1rem;
}
.overlay-title{
    font-weight: bolder;
}
.count{
    font-weight: bold;
    font-style: oblique;
}

.title-details{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 10%;
}

.features1-brand{
position: absolute;
padding-top: 1rem;
}

.border-top{
    border-top: 1px solid black;
    margin-top: 0.2rem;
    width: 100%;
}

.overlay-image{
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0%;
    max-width: 170px;
    max-height: 170px;
}

.features1{
display: flex;
gap: 0.5rem;
margin-top: 2rem;



}
.quantity{
    display: flex;
    padding-top: 1rem;
}


.top{
    display: flex;

}
.features1-name{
    position: absolute;
display: grid;
font-size: 15px;
line-height: 0;

}



.currency-border{
    padding-top: 3rem;
    font-weight: bold;
}

.total{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.total>p{
    font-weight: bold;
}

.functions{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.checkout{
padding: 0.5rem 1.5rem;
border: 0px;
background-color: green;
color: white;
transition: 0.5s ease;
cursor: pointer;
}
.checkout:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.cancel{
    width:10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    left: 5%;
    display: none;
}


.color-selected{
    padding: 0.6rem;
    border: 2px solid green;

}
.color-notselected{
    padding: 0.5rem;
    border: 2px solid black;
}


.features1-swatch{
margin-top: 1.5rem;

}

.amount{
    position: absolute;
    right: 44%;
    display: grid;
    gap: 2rem;
}

.viewbag{
    cursor: pointer;
    transition: 0.5s  ease-out;
    padding: 0.5rem 1.5rem;
}
.viewbag:hover{
    background-color: black;
    color: white;
}

.option-tex{
    padding: 0rem;
    letter-spacing: 0em;
    font-size: 10px;
}
.text-options>button{
    padding: 0 0.6rem;
    margin-top: 1.8rem;
}

.unselected-option{
    border: 2px solid black;
        }

.cart-products{
    display: grid;
    gap: 1.5rem;
}

.cashier{
    padding-top: 3rem;
    display: fixed;
}

.swatch-options>button{
gap: 0rem;


}
.swatch-text{
    line-height: 0;
}

.plus{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid black;
}

.plus-icon{
    width: 80%;
}

.minus{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
border: 2px solid black;
}
 .minus-icon{
width: 100%;
 }









@media screen and (min-width: 320px) and (max-width: 768px){
    .Minicart{
        margin-left: 0rem;
    }

.overlay-image{
    right: 1%;
    max-width: 80px;
    max-height: 80px;
}
.amount{
    right: 32%;
    gap: 0.2rem;
}
.overlay-background{
    width: 250px;
}

.quantity{
gap: 0.2rem;
}

    .background{
        background: #39374885;
    }
    .cancel{
        display: block;
        top: 0%;
    }
    .total{
        gap: 1rem;
    }

    text-options>button{
        padding: 0 0.1rem;
        margin-top: 1.8rem;
    }

    .plus{
        width: 20px;
        height: 20px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
        border: 2px solid black;
    }

    .plus-icon{
        width: 150%;
    }

    .minus{
        width: 20px;
        height: 20px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
    border: 2px solid black;
    }
     .minus-icon{
    width: 230%;
     }

.viewbag{
    padding: 0.5rem 0.5rem;
}


}



