.Minicart{
    position: absolute;
    width: 100vw;
    left: 0rem;
    padding-top: 5rem;
}


.background{
    height: 100%;
    width: 100%;
    background:  rgba(57, 55, 72, 0.22);
    z-index: 2;
    position: fixed;
}

.overlay-background{
    position: absolute;
      right: calc(100vw - 95%);
      width: 355px;
      background-color: #ffffff;;
      z-index: 3;
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
    max-height: 500px;
    overflow-y: scroll;

}


.Minicart-Header{
    display: flex;
    margin-bottom: 25px;
    gap: 0.5rem;
    align-items: center;

}
.overlay-title{
    font-family: "Raleway";
      color: var(--black);
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
}
.count{
    font-family: "Raleway";
      color: var(--black);
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;

}



.title-details{
   position: relative;
   top: 0%;
}

.features1-brand{
    font-family: "Raleway";
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: var(--black);

}

.features1-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D1F22;
    display: flex;
    align-items: center;
}
.features1-namee{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.currency-border{
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
}
.label{
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--black);
    width: 52px;
height: 26px;
}


.overimage-area{
    display: grid;
    align-items: center;
    justify-content: center;

}
.overlay-image{
   max-width: 150px;

}
.overlay-options{
    display: flex;
}

.features1{
display: grid;

}
.quantity{
    display: flex;
margin-left: 1rem;
position: relative;
left: 10%;
line-height: 7;

}


.top{
    display: flex;
   justify-content: space-between;
  align-items: center;

}

.total{
    font-family: "Roboto";
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.subtotal{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}
.fullprice{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
color: var(--black);
}
.functions{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.checktext{
    width: 81px;
height: 17px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 120%;
}
.checkout{
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 140px;
    height: 43px;
transition: 0.5s ease;
cursor: pointer;
border: 0px;
}
.checkout:hover{
    transform: scale(1.1)
}

.cancel{
    width:10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    left: 5%;
    display: none;
}
.swatch-options{
display: flex;
padding: 0rem 0.5rem;
margin-bottom: 1rem;
}

.color-selected{
    height: 20px;
    width: 20px;
    border: 1px solid var(--main);
    z-index: 0;
}
.color-notselected{
    height: 16px;
    width: 16px;
    border: 0px
}



.amount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.viewbag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    transition: 0.3s ease;
    width: 140px;
    height: 43px;
cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #1D1F22;
}
.viewbag:hover{
transform: scale(1.1);
}


.cart-products{
    display: grid;
    gap: 3rem;
}

.cashier{
    padding-top: 3rem;
    display: fixed;
    padding-bottom: 1rem;
    font-family: "Raleway";
}


.swatch-text{
    line-height: 0;
}

.plus{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid black;
}

.plus-icon{
    height: 12px;
    width: 12px;
}

.minus{
    width: 25px;
    height: 25px;
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
border: 2px solid black;
}
 .minus-icon{
    height: 12px;
    width: 12px;
 }

.emptycart-title{
    font-family: "Raleway";
}

.text-options{
   position: relative;
   display: flex;
   padding: 0rem 0.4rem;
}

.option-tex{
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}

.selected-option1{
    height: 24px;
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: transparent;
    transition: 0.3s;
    border: 1px solid #1D1F22;
    ;
    background-color: var(--black);
    color: #FFFFFF;
}
.unselected-option{

    height: 24px;
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: transparent;
    transition: 0.3s;
}

.viewtext{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 120%;
}


@media screen and (min-width: 320px) and (max-width: 768px){
    .Minicart{
        margin-left: 0rem;
    }

.overlay-image{
    right: 1%;
    max-width: 80px;
    max-height: 80px;
}
.amount{
    right: 32%;
    gap: 0.2rem;
}
.overlay-background{
    width: 250px;
}

.quantity{
gap: 0.2rem;
}

    .background{
        background: #39374885;
    }
    .cancel{
        display: block;
        top: 0%;
    }
    .total{
        gap: 1rem;
    }

    text-options>button{
        padding: 0 0.1rem;
        margin-top: 1.8rem;
    }

    .plus{
        width: 20px;
        height: 20px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
        border: 2px solid black;
    }

    .plus-icon{
        width: 150%;
    }

    .minus{
        width: 20px;
        height: 20px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
    border: 2px solid black;
    }
     .minus-icon{
    width: 230%;
     }

.viewbag{
    padding: 0.5rem 0.5rem;
}


}



