.text-buttons{
    gap: 1rem;
    display: flex;
}

.text-unselect{
    transition: 0.5s ease-out;
}
.text-unselect:hover{
    background-color: white;
    transform: scale(1.1);
}

.text-select{
    background-color: black;
    color: white;
}

.colors{
    padding: 1rem;
    transition: 0.5s ease-out;
}

.colors:hover{
    transform: scale(1.3);
}



.color-picked{
    padding: 1rem;
    border: transparent;
    transform: scale(1.3);
}