.text-buttons{
    gap: 1rem;
    display: flex;

}


.text-unselect{
   width: 63px;
    height: 45px;
    border: 1px solid  var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    user-select: none;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.5s ease;
}

.text-unselect:hover{
    transform: scale(1.1);
}

.text-select{
    width: 63px;
      height: 45px;
      border: 1px solid  var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      user-select: none;
      background-color: black;
      color: white;
      transition: 0.3s;
      cursor: pointer;

}

.colors{
    width: 32px;
    height: 32px;
    margin-right: 5px;
    border: 0px;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.colors:hover{
    transform: scale(1.3);
}

.text-opt{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.color-picked{
    width: 36px;
    height: 36px;
    margin-right: 5px;
    border: 2px solid var(--main);
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.swatchopt{
    display: flex;
    gap: 0.5rem;
}

.attrtext{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: var(--black);
    text-transform: uppercase;
}
.attrname{
font-family: "Raleway";
font-weight: bold;
}




@media screen and (min-width: 320px) and (max-width: 768px){
.text-buttons{
    gap: 0.5rem;
}

}